english_module/Data
marathi_module/Data
english_module/Models
marathi_module/Models
communication_module/Data
communication_module/Models
english_module/__pycache__
marathi_module/__pycache__
communication_module/__pycache__
communication_module/Colab Notebooks/Logs
communication_module/Colab Notebooks/MP_Data
communication_module/Colab Notebooks/0.npy

